{% extends 'dashboard_layout.html' %}

{% block body %}

         <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                Plots here...
            </div>
        </div>

    </div>

{% endblock body %}